.w-20 {
  width: 20% !important;
}

.text-header {
  color: #1076bc;
}

.step-show {
  visibility: visible;
}

.step-hidden {
  visibility: hidden;
}

.fs-15px {
  font-size: 15px !important;
}

.fs-17px {
  font-size: 17px !important;
}
