.input-error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  display: inline-block;
}

.w-20 {
  width: 20% !important;
}

.text-header {
  color: #1076bc;
}

.step-show {
  visibility: visible;
}

.step-hidden {
  visibility: hidden;
}

.fs-15px {
  font-size: 16px !important;
}

.fs-17px {
  font-size: 17px !important;
}

.fs-20px {
  font-size: 21px !important;
}

.question-tooltips {
  background-color: rgba(0, 0, 0, 1);
  color: white;
   border: 1 solid rgba(0, 0, 0, 0.8);
   border-radius: 50%;
  height: 15px;
  width: 15px;
}

.multiselect {
  height: 38px;
  min-height: 38px;
  &:focus {
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
  }
  &__tags {
    height: 38px;
    min-height: 38px;
  }
  &__placeholder {
    font-size: 1rem;
    padding-top: 0px;
    color: #212529;
  }
}