/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,700&display=swap");

/*CSS Variables*/
:root {
  --mp-blue: #1076bc;
  --mp-blue-darker: #0f6098;
  --mp-white: #fff;
  --mp-green: #92c01f;
  --mp-footer: #062439;
}

a .navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: var(--mp-blue);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.btn-primary {
  color: var(--mp-white);
  background-color: var(--mp-blue);
  border-color: var(--mp-blue);
}

.btn-primary:hover {
  color: var(--mp-white);
  background-color: var(--mp-blue-darker);
  border-color: var(--mp-blue-darker);
}

.btn-outline-primary {
  color: var(--mp-blue);
  background-color: transparent;
  border-color: var(--mp-blue);
}

.text-primary {
  color: var(--mp-blue) !important;
}

.btn-outline-primary:hover {
  color: var(--mp-white);
  background-color: var(--mp-blue);
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: var(--mp-white);
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-family: "Montserrat", sans-serif;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
  background-color: var(--mp-footer);
}

/*Custom CSS*/

.logo {
  height: 35px;
}

label.required:after {
  content: " *";
  color: red;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7 {
  font-weight: 600;
  color: var(--mp-blue);
  padding: 1rem 0;
}
